.painel-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
}

.painel-formulario #lista-produtos {
    margin-bottom: 2rem;
    width: 12.5rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.6rem;
}

.painel-formulario h3 {
    text-align: center;
    color: #fff;
    opacity: 0.8;
}

.painel-formulario .campos {
    display: flex;
    flex-direction: column;
}

.painel-formulario .campos .campo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.9rem;
    list-style: none;
}

.painel-formulario .campos .campo-item input {
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
}

.painel-formulario .campos .campo-item label {
    color: #fff;
    opacity: 0.8;
}

.painel-formulario button {
    padding: 0.5rem;
    width: 6rem;
    border-radius: 0.5rem;
    background:rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1rem;
}

.painel-formulario button:hover {
    background: #f95842;
    color:black;
    transform: scale(1.2);
    transition: all 0.5s;
}

.painel-formulario button {
    transform: scale(1);
    transition: all 0.5s;
}



